/* TODO code duplication from css/properties.css */
table#dimensions {
}

table#dimensions thead th {
  border-bottom: 1px solid #d9d8d1;
}

table#dimensions tr {
  line-height: 1.3em;
}

table#dimensions td {
  min-width: 20px;
}

table#dimensions tbody tr td.operads {
  min-width: 200px;
  max-width: 300px;
  padding-left: 5px;
}

table#dimensions tbody tr td.expression {
  border-left: 1px solid #d9d8d1;
  border-right: 1px solid #d9d8d1;
}

table#dimensions tbody tr td.dimension,
table#dimensions tbody tr td.expression {
  text-align: center;
  padding: 0 5px;
}

/* TODO code duplication */
table#dimensions th.extendable,
table#dimensions td.extendable {
  min-width: 30px;
}

table#dimensions th.extendable:hover:after,
table#dimensions td.extendable:hover:after {
  content: " +";
  cursor: pointer;
  color: #83AE84;
}
