dl.operad {
  border: 1px solid #d9d8d1;
  padding-top: 10px;
}

dl.operad dt {
  float: left;
  clear: left;
  font-weight: bold;
  width: 170px;
  text-align: right;
  padding-right: 10px;
}

dl.operad dd {
  border-left: 1px solid #d9d8d1;
  margin: 0 0 .5em 180px;
  padding: 0 0 0 10px;
}

dl.operad dt:nth-child(3),
dl.operad dd:nth-child(4) {
  /* using border-image and an image with a few transparent and 1 black pixel on the bottom we can get a better border*/
}

dl.operad dd.dimensions ol {
  margin: 0 0 .5em 0;
  padding: 0;
  list-style-type: none;
}

dl.operad dd.dimensions ol:hover:after {
  content: " +";
  color: gray;
}

dl.operad dd.dimensions ol li {
  display: inline;
}

dl.operad dd.dimensions ol li:after {
  content: ", ";
}

dl.operad dd.properties ul {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
}

dl.operad dd.dimensions ol li:last-child:after {
  content: ", ...";
}

span.unknown {
  font-style: italic;
}
